@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 5px grey;  */
    background: #c73333;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c73333;
  }
  
  .roll-animation{
    animation-name: rollin;
    animation-duration: 5s;
    animation-iteration-count: 1;
  
  }
  
  @keyframes rollin {
      from {
        position: relative;
        right: 75%;
        transform: rotate(0deg); /* Equal to rotateZ(45deg) */
      }
      
      to {
        position: relative;
        right: 0%;
        transform: rotate(720deg); /* Equal to rotateZ(45deg) */
      }
    }